@import "tailwindcss";

a.active hr{
  display: block;
  transition: 3s;
}
*{
  font-family: Outfit;
}
@keyframes faidIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}
::-webkit-scrollbar{
  display:none;
}